body {
    padding-bottom: 40px;
}

textarea {
    resize: vertical;
    width: 100%;
}

#registers {
    font-family: monospace;
    font-size: 11px;
}

#registers td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

#errors {
    font-family: monospace;
}
