body {
    padding-bottom: 40px;
}

textarea {
    resize: vertical;
    width: 100%;
}

#errors {
    font-family: monospace;
}

#recent-instruction {
    font-family: monospace;
    font-size: 12px;
}

#recent-instruction .current {
    font-weight: bold;
    color: #0074D9;
}

#registers,
#memory {
    font-family: monospace;
    font-size: 11px;
}

#registers td,
#memory td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

#memory-table {
    max-height: 600px;
}

